*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* border: 1px solid grey; */
    height: 300px;
    margin-top: 240px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}